# Export all names
# exportPattern(".")
export(sas_collectcode)
export(sas_output)
export(sas_enginesetup)
export(sashtml)
export(saslog)
importFrom("utils", "tail")
# importFrom("knitr", "is_blank")
# importFrom("knitr", "wrap_character")